<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrackMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB3DA9D31CCB3D14008DF8DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB3DA9E71CCB3D15008DF8DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB3DA9F21CCB3D15008DF8DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
